account/__pycache__
account/migrations

authModel/__pycache__
authModel/migrations

courier_version_one/settings.py
courier_version_one/wsgi.py

courier_version_one/__pycache__

customers/__pycache__
customers/migrations

containers/__pycache__
containers/migrations

employees/__pycache__
employees/migrations

main/__pycache__
main/migrations



db.sqlite3